extends /snippets/head
block content
	#growlightsSection.l
		.container-fluid
			.row
				.col-xs-24.title-col
					h3.lights-section-title Let there be 
						h1.lights-section-title Light
			.row
				each growLightModel, key1 in growLightModels
					.col-xs-24.model-col

						h1.model-title= growLightModel[0].model
						.col-xs-24.product-col
							-currentModel = growLightModel[0].model.replace(' ','-')
							//
								CHECK IF POSSIBLE PUG GITHUB
								.#{currentModel+"Slider"}
							//- each product, key2 in model
							//- 	-if(key2 == 0)
							//- 		include /snippets/light
							//- 	-else if(product.model == currentModel)
							//- 		include /snippets/light
							//- 	-else
							//- 		-currentModel = product.model
							//- 		include /snippets/light

							.slick-slider-custom(class=currentModel+"Slider")
								each growlight, key2 in growLightModel
									.slick-slide
										-if(key2 == 0)
											include /snippets/light
										-else if(growlight.model == currentModel)
											include /snippets/light
										-else
											-currentModel = growlight.model
											include /snippets/light
							block scripts
							script(type='text/javascript').
								$('.#{currentModel}Slider').slick({
									arrows: true,
									centerMode: false
									//- lazyLoad: 'progressive'
								})
