append content
	#growtents.growTentsSection.l
		.container-fluid
			.row
				.col-xs-24.title-col
					h3.lights-section-title Now you need a 
						h1.lights-section-title Room
			.row
				
				each growTentVendor, key1 in growTentVendors
					.col-xs-24.model-col

						h1.model-title= growTentVendor[0].vendor +" tents"
						.col-xs-24.product-col
							-var currentVendor = growTentVendor[0].vendor.replace(' ','-')
							//
								CHECK IF POSSIBLE PUG GITHUB
								.#{currentVendor+"Slider"}
							//- each product, key2 in vendor
							//- 	-if(key2 == 0)
							//- 		include /snippets/growLight
							//- 	-else if(product.vendor == currentVendor)
							//- 		include /snippets/growLight
							//- 	-else
							//- 		-currentVendor = product.vendor
							//- 		include /snippets/growLight

							.slick-slider-custom(class=currentVendor+"Slider")
								each growTent, key2 in growTentVendor
									.slick-slide
										-if(growTent.vendor.replace(' ','-') == currentVendor)
											include /snippets/growTent
							script.
								var globalPxr = undefined

							//- append scripts
							script(type='text/javascript').
								$('.#{currentVendor}Slider').slick({
									arrows: true,
									centerMode: false,
									lazyLoad: 'progressive'
								})
