extends /snippets/head
block content
	#growtentsSection.l
		.container-fluid
			.row
				.col-xs-24.title-col
					h3.lights-section-title Now you need a 
						h1.lights-section-title Room
			.row
				each growTentVendor, key1 in growTentVendors
					.col-xs-24.model-col

						h1.model-title= growTentVendor[0].vendor
						.col-xs-24.product-col
							-currentVendor = growTentVendor[0].vendor.replace(' ','-')
							//
								CHECK IF POSSIBLE PUG GITHUB
								.#{currentVendor+"Slider"}
							//- each product, key2 in vendor
							//- 	-if(key2 == 0)
							//- 		include /snippets/light
							//- 	-else if(product.vendor == currentVendor)
							//- 		include /snippets/light
							//- 	-else
							//- 		-currentVendor = product.vendor
							//- 		include /snippets/light

							.slick-slider-custom(class=currentVendor+"Slider")
								each growtent, key2 in growTentVendor
									.slick-slide
										-if(key2 == 0)
											include /snippets/tent
										-else if(growtent.vendor == currentVendor)
											include /snippets/tent
										-else
											-currentVendor = growtent.vendor
											include /snippets/tent
							block scripts
							script(type='text/javascript').
								$('.#{currentVendor}Slider').slick({
									arrows: true,
									centerMode: false
									//- lazyLoad: 'progressive'
								})
