html
  body
    // Page Content
    .container#productPage
      .row
        .col-md-6
          // <p class="product-title">Our Lights</p>
          .list-group
            a.list-group-item(href='/products/green.php') Green
            |                     
            a.list-group-item(href='/products/black.php') Black
            |                     
            a.list-group-item.active-item(href='/products/pro.php') Pro
            // <a href="/tents.html" class="list-group-item">Tents</a>
        |             
        .col-md-18
          .row.carousel-holder
            .col-md-24
              #carousel-example-generic.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                  li.active(data-target='#carousel-example-generic', data-slide-to='0')
                  |                                 
                  li(data-target='#carousel-example-generic', data-slide-to='1')
                  |                                 
                  li(data-target='#carousel-example-generic', data-slide-to='2')
                  |                                 
                  li(data-target='#carousel-example-generic', data-slide-to='3')
                  |                                 
                  li(data-target='#carousel-example-generic', data-slide-to='4')
                |                             
                .carousel-inner
                  .item.active
                    a(href='/products/pro.php')
                      img.slide-image(src='/img/products/products/slide/slide_0015_pro-320-epistar-5.jpg', alt='')
                  |                                 
                  .item
                    a(href='/products/pro.php')
                      img.slide-image(src='/img/products/products/slide/slide_0018_pro-128-cree-4.jpg', alt='')
                  |                                 
                  .item
                    a(href='/products/pro.php')
                      img.slide-image(src='/img/products/products/slide/slide_0017_pro-160-epistar-2.jpg', alt='')
                  |                                 
                  .item
                    a(href='/products/pro.php')
                      img.slide-image(src='/img/products/products/slide/slide_0016_pro-256-cree-4.jpg', alt='')
                  |                                 
                  .item
                    a(href='/products/pro.php')
                      img.slide-image(src='/img/products/products/slide/slide_0014_pro-320-epistar-9.jpg', alt='')
                  //
                    <div class="item">
                    <a href="150wr.html"><img class="slide-image" src="/img/ALL900x900/product_0064_IMG_6139.png" alt=""></a>
                    </div>
                |                             
                a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left
                |                             
                a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right
          |                 
          #product-list.row
            .col-sm-8.col-lg-8.col-md-8.product-square
              .thumbnail
                a.portfolio-link(href='#pro-1600', data-toggle='modal')
                  i.fa.fa-expand(aria-hidden='true')
                  |                             
                  img(src='/img/products/products/pro-320-epistar-8.jpg', alt='')
                |                             
                .caption
                  h4#product-price.pull-right $1300
                  |                                 
                  h3#product-title
                    a.portfolio-link(href='#pro-1600', data-toggle='modal')
                      | 1600W MARS PRO LED Grow Light
                |                                 
                .combo-button.clearfix(id='7046109057 22173088577')
                  a#order-mg-240.order-button
                    | add to cart
                  |                                     
                  a.shop-cart-button
                    i.fa.fa-shopping-cart(aria-hidden='true')
            |                     
            .col-sm-8.col-lg-8.col-md-8.product-square
              .thumbnail
                a.portfolio-link(href='#pro-800', data-toggle='modal')
                  i.fa.fa-expand(aria-hidden='true')
                  |                             
                  img(src='/img/products/products/pro-160-epistar-4.jpg', alt='')
                |                             
                .caption
                  h4#product-price.pull-right $780
                  |                                 
                  h3#product-title
                    a.portfolio-link(href='#pro-800', data-toggle='modal') 800W MARS PRO LED Grow Light
                |                                 
                .combo-button.clearfix(id='7046109057 22173088321')
                  a#order-mg-240.order-button
                    | add to cart
                  |                                     
                  a.shop-cart-button
                    i.fa.fa-shopping-cart(aria-hidden='true')
            |                     
            .col-sm-8.col-lg-8.col-md-8.product-square
              .thumbnail
                a.portfolio-link(href='#pro-1280', data-toggle='modal')
                  i.fa.fa-expand(aria-hidden='true')
                  |                             
                  img(src='/img/products/products/pro-256-cree-5.jpg', alt='')
                |                             
                .caption
                  h4#product-price.pull-right $1600
                  |                                 
                  h3#product-title
                    a.portfolio-link(href='#pro-1280', data-toggle='modal')
                      | 1280W MARS PRO LED Grow Light
                |                                 
                .combo-button.clearfix(id='7046109057 22173089153')
                  a#order-mg-240.order-button
                    | add to cart
                  |                                     
                  a.shop-cart-button
                    i.fa.fa-shopping-cart(aria-hidden='true')
            |                     
            .col-sm-8.col-lg-8.col-md-8.product-square
              .thumbnail
                a.portfolio-link(href='#pro-640', data-toggle='modal')
                  i.fa.fa-expand(aria-hidden='true')
                  |                             
                  img(src='/img/products/products/pro-128-cree-2.jpg', alt='')
                |                             
                .caption
                  h4#product-price.pull-right $920
                  |                                 
                  h3#product-title
                    a.portfolio-link(href='#pro-640', data-toggle='modal') 640W MARS PRO LED Grow Light
                |                                 
                .combo-button.clearfix(id='7046109057 22173088897')
                  a#order-mg-240.order-button
                    | add to cart
                  |                                     
                  a.shop-cart-button
                    i.fa.fa-shopping-cart(aria-hidden='true')
    // /.container
    .container
      hr
      // Footer
      footer
        .row
          .col-lg-82
            p www.ozledgrowlights.com.au
    // /.container
    // -------------------------------------------------------- Product Modals --------------------------------------------------------
    // --------------------------------------------------------------------------------------------------------------
    #pro-1600.text-styling-products.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
        .container
          .row
            .col-lg-16.col-lg-offset-4
              .modal-body
                h2(style='color: #80bc18') 1600W MARS Pro
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                ul.list-inline.item-details-product
                  li
                    | Wattage:
                    strong
                      a(href='#') 1600W
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Diode Wattage:
                    strong
                      a(href='#') 5W EPISTAR (320)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Lumens:
                    strong
                      a(href='#') 16,600
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                             
                  li
                    | Lense Angle:
                    strong
                      a(href='#') 100
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Dimensions:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 59cm X 57cm X 10cm
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Coverage at 100cm Height:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 3.9m X 3.9m
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                       
                div
                  .preview-product-gallery(align='center')
                    img(name='preview3', src='/img/products/products/pro-320-epistar-8.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        &#x9;
                  .product-gallery-thumbnails
                    img(onmouseover='preview3.src=img21.src', name='img21', src='/img/products/products/pro-320-epistar-8.png', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    img(onmouseover='preview3.src=img22.src', name='img22', src='/img/products/products/pro-320-epistar-9.png', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    img(onmouseover='preview3.src=img23.src', name='img23', src='/img/products/products/pro-320-epistar-7.png', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    img(onmouseover='preview3.src=img24.src', name='img24', src='/img/products/products/pro-320-epistar-6.png', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    img(onmouseover='preview3.src=img25.src', name='img25', src='/img/products/products/pro-320-epistar-4.png', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    img(onmouseover='preview3.src=img26.src', name='img26', src='/img/products/products/pro-320-epistar-3.png', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    img(onmouseover='preview3.src=img1001.src', name='img1001', src='/img/products/products/pro-320-epistar-1.png', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    img(onmouseover='preview3.src=img1002.src', name='img1002', src='/img/products/products/pro-320-epistar-2.png', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                p(style='font-size: 15px;')
                  | The Pro series of LED Grow Lights is for those of you who want the perfect grow without any hassle, like bassically none. The 1600W and 800W are square panels so you can use it for multiple lights but the 1280W and 640W have two banked sides to focus the energy of the light onto a smaller ammount of plants in your grow room.
                  br
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                    The main feature of this series of light is the remote it comes with and the micro proccessor inside which is just a basic computer for controlling brightness from 0% - 100%, grow cycles for veg and bloom, hourly cycles and daily on/off cycles. You can control the spectrum output by turning different modules of LEDs off in the light.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                ul.list-inline.item-details-product
                  li
                    | Spectrum and Ratios:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html')
                        | 25% Blue (440nm, 460nm), 65% Red (630nm, 660nm), 1% Infra Red (730nm), and 9% White (2700K - 3000K)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Coverage area at hang height 20cm, 40cm, 100cm:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 1.1m X 1.1m (1.24M ^2), 1.81m X 1.81m (3.26M ^2), 3.8m X 3.8m (14.44M ^2)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Lumens per Square Metre at Hang Height 20cm, 40cm, 100cm:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 14,300 Lumens, 5400 Lumens, 1200 Lumens per Metre/squared
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    // --------------------------------------------------------------------------------------------------------------
    #pro-800.text-styling-products.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
        .container
          .row
            .col-lg-16.col-lg-offset-4
              .modal-body
                h2(style='color: #80bc18') 800W MARS Pro
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                ul.list-inline.item-details-product
                  li
                    | Wattage:
                    strong
                      a(href='#') 800W
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Diode Wattage:
                    strong
                      a(href='#') 5W EPISTAR (160)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Lumens:
                    strong
                      a(href='#') 8400
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                             
                  li
                    | Lense Angle:
                    strong
                      a(href='#') 100
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Dimensions:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 52cm X 34cm X 10cm
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Coverage at 100cm Height:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 3.9m X 3.7m
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        &#x9;
                .preview-product-gallery(align='center')
                  img(name='preview2', src='/img/products/products/pro-160-epistar-4.png', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        &#x9;
                .product-gallery-thumbnails
                  img(onmouseover='preview2.src=img12.src', name='img12', src='/img/products/products/pro-160-epistar-4.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview2.src=img13.src', name='img13', src='/img/products/products/pro-160-epistar-6.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview2.src=img14.src', name='img14', src='/img/products/products/pro-160-epistar-7.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview2.src=img15.src', name='img15', src='/img/products/products/pro-160-epistar-5.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview2.src=img16.src', name='img16', src='/img/products/products/pro-160-epistar-2.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview2.src=img17.src', name='img17', src='/img/products/products/pro-160-epistar-1.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview2.src=img18.src', name='img18', src='/img/products/products/pro-160-epistar-8.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview2.src=img19.src', name='img19', src='/img/products/products/pro-160-epistar-3.png', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                p(style='font-size: 15px;')
                  | The Pro series of LED Grow Lights is for those of you who want the perfect grow without any hassle, like bassically none. The 1600W and 800W are square panels so you can use it for multiple lights but the 1280W and 640W have two banked sides to focus the energy of the light onto a smaller ammount of plants in your grow room.
                  br
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                    The main feature of this series of light is the remote it comes with and the micro proccessor inside which is just a basic computer for controlling brightness from 0% - 100%, grow cycles for veg and bloom, hourly cycles and daily on/off cycles. You can control the spectrum output by turning different modules of LEDs off in the light.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                ul.list-inline.item-details-product
                  li
                    | Spectrum and Ratios:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html')
                        | 25% Blue (440nm, 460nm), 65% Red (630nm, 660nm), 1% Infra Red (730nm), and 9% White (2700K - 3000K)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Coverage area at hang height 20cm, 40cm, 100cm:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 1.2m X 1m (1.24M ^2), 1.9m X 1.7m (3.26M ^2), 3.9m X 3.7m (15M ^2)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Lumens per Square Metre at Hang Height 20cm, 40cm, 100cm:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 7,200 Lumens, 2750 Lumens, 650 Lumens per Metre/squared
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    // --------------------------------------------------------------------------------------------------------------
    #pro-1280.text-styling-products.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
        .container
          .row
            .col-lg-16.col-lg-offset-4
              .modal-body
                h2(style='color: #80bc18') 1280W MARS Pro
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                ul.list-inline.item-details-product
                  li
                    | Wattage:
                    strong
                      a(href='#') 1280W
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Diode Wattage:
                    strong
                      a(href='#') 5W Cree (256)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Lumens:
                    strong
                      a(href='#') 14,165
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                             
                  li
                    | Lense Angle:
                    strong
                      a(href='#') 100
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Dimensions:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 57cm X 53cm X 12cm
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Coverage at 100cm Height:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 4m X 4m
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        &#x9;
                .preview-product-gallery(align='center')
                  img(name='preview1', src='/img/products/products/pro-256-cree-5.png', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        &#x9;
                .product-gallery-thumbnails
                  img(onmouseover='preview1.src=img6.src', name='img6', src='/img/products/products/pro-256-cree-5.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview1.src=img7.src', name='img7', src='/img/products/products/pro-256-cree-4.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview1.src=img8.src', name='img8', src='/img/products/products/pro-256-cree-3.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview1.src=img9.src', name='img9', src='/img/products/products/pro-256-cree-2.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview1.src=img10.src', name='img10', src='/img/products/products/pro-256-cree-1.png', alt='')
                  // <img onmouseover="preview1.src=img11.src" name="img11" src="/img/products/products/green-96-1.png" alt="" />
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                p(style='font-size: 15px;')
                  | The Pro series of LED Grow Lights is for those of you who want the perfect grow without any hassle, like bassically none. The 1600W and 800W are square panels so you can use it for multiple lights but the 1280W and 640W have two banked sides to focus the energy of the light onto a smaller ammount of plants in your grow room.
                  br
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                    The main feature of this series of light is the remote it comes with and the micro proccessor inside which is just a basic computer for controlling brightness from 0% - 100%, grow cycles for veg and bloom, hourly cycles and daily on/off cycles. You can control the spectrum output by turning different modules of LEDs off in the light.  &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                 &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                  ul.list-inline.item-details-product
                    li
                      | Spectrum and Ratios:
                      strong
                        a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html')
                          | 25% Blue (440nm, 460nm), 65% Red (630nm, 660nm), 1% Infra Red (730nm), and 9% White (2700K - 3000K)
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                    li
                      | Coverage area at hang height 20cm, 40cm, 100cm:
                      strong
                        a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 1.24m X 1.24m (1.54M ^2), 2 X 2m (4M ^2), 4m X 4m (16m ^2)
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                    li
                      | Lumens per Square Metre at Hang Height 20cm, 40cm, 100cm:
                      strong
                        a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 14,100 Lumens, 4000 Lumens, 900 Lumens per Metre/squared
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                  button.btn.btn-default(type='button', data-dismiss='modal')
                    i.fa.fa-times
                    |  Close
    // --------------------------------------------------------------------------------------------------------------
    #pro-640.text-styling-products.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;        
        .container
          .row
            .col-lg-16.col-lg-offset-4
              .modal-body
                h2(style='color: #80bc18') 640W MARS Pro
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                ul.list-inline.item-details-product
                  li
                    | Wattage:
                    strong
                      a(href='#') 640W
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Diode Wattage:
                    strong
                      a(href='#') 5W Cree (128)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Lumens:
                    strong
                      a(href='#') 7083
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                             
                  li
                    | Lense Angle:
                    strong
                      a(href='#') 100
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Dimensions:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 50cm X 32cm X 12cm
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Coverage at 100cm Height:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 3.9m X 3.7m
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        &#x9;
                .preview-product-gallery(align='center')
                  img(name='preview', src='/img/products/products/pro-128-cree-2.png', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        &#x9;
                .product-gallery-thumbnails
                  img(onmouseover='preview.src=img1.src', name='img1', src='/img/products/products/pro-128-cree-2.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview.src=img2.src', name='img2', src='/img/products/products/pro-128-cree-3.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview.src=img3.src', name='img3', src='/img/products/products/pro-128-cree-4.png', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img(onmouseover='preview.src=img4.src', name='img4', src='/img/products/products/pro-128-cree-1.png', alt='')
                  // <img onmouseover="preview.src=img5.src" name="img5" src="/img/products/products/green-48-3.png" alt="" />
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                p(style='font-size: 15px;')
                  | The Pro series of LED Grow Lights is for those of you who want the perfect grow without any hassle, like bassically none. The 1600W and 800W are square panels so you can use it for multiple lights but the 1280W and 640W have two banked sides to focus the energy of the light onto a smaller ammount of plants in your grow room.
                  br
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                    The main feature of this series of light is the remote it comes with and the micro proccessor inside which is just a basic computer for controlling brightness from 0% - 100%, grow cycles for veg and bloom, hourly cycles and daily on/off cycles. You can control the spectrum output by turning different modules of LEDs off in the light.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                ul.list-inline.item-details-product
                  li
                    | Spectrum and Ratios:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html')
                        | 25% Blue (440nm, 460nm), 65% Red (630nm, 660nm), 1% Infra Red (730nm), and 9% White (2700K - 3000K)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Coverage area at hang height 20cm, 40cm, 100cm:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 1.1m X 1m (1.1M ^2), 1.8m X 1.7m (3M ^2), 3.9m X 3.7m (14.4M ^2)
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                            
                  li
                    | Lumens spread per Metres Squared at hang height 20cm, 40cm, 100cm:
                    strong
                      a(href='http://ozledgrowlights.com.au/how-to-calculate-coverage.html') 7083 Lumens, 2197 Lumens, 500 Lumens per Metre/squared
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                        
                button.btn.btn-default(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close
    // --------------------------------------------------------------------------------------------------------------
