#about
  font-family: Montserrat
  font-weight: 400
  max-width: 100%
  width: 100%
  overflow: hidden
  background-image: url('/img/assets/grass_block.jpg')
  background-size: cover
  background-position: center top
  p
    background: rgba($gb, 1)
    border: 1px solid rgba(darken($gb, 3), 1)
    // color: $gc
    color: $gw
    padding: 25px
    padding-top: 15px
    font-family: 'Montserrat'
    border-radius: 5px
    font-size: 1.9rem
    // font-weight: 700
    a
      color: $gc !important
      &:hover
        color: darken($gc, 10)
