#banner
	width: 100%
	max-width: 100%
	height: auto
	overflow: hidden
	padding-bottom: 100px
	font-family: Montserrat
	background: $gb
	.banner-text
		padding-top: 20px
		padding-bottom: 20px
		max-width: 100%
		overflow: hidden
		font-weight: 400
		// line-height: 3rem
	.intro-text
		font-size: 3.8rem
		display: inline
		white-space: pre-wrap
		width: auto
		max-width: 100%
	span
		display: inline-block
		font-size: 3.7rem
	.front-page-likes
		+animate(all, 250ms, ease)
		&:hover,
		&:visited,
		&:focus,
		&:active
			color: nth($colours, random(length($colours)))
	.questions
		padding-top: 90px
		.l-material-card
			background: white
			padding: 10px
			height: auto
			margin: -5px
			text-align: left
			color: $gb



.tent-customization
	margin-top: 80px
	padding-bottom: 400px
	overflow-y: visible
	.tent-customization-title
		margin-bottom: 50px
		text-align: center
	.tent-container
		text-align: center
		display: flex
		align-items: center
		justify-content: center
		overflow-x: auto
		padding: 0px
		padding-top: 200px
		padding-bottom: 200px
		.tent
			background: rgba(white, 0)
			width: 100%
			// border: 1px solid rgba(white, .25)
			height: auto
			position: relative
			display: flex
			align-items: center
			justify-content: center
			>.wall
				position: absolute
				display: block
				background: rgba(rgb(0,0,0), 0)
				border: 2px solid rgba(rgb(99, 99, 99), 1)
				z-index: 101
				// &#leftWall,
				// &#rightWall,
				// &#backWall,
				&#bottom
					background: rgba(white, 1)
				&#front
					border-top: 0px
				// border-radius: 6px
			// box-shadow: 120px 120px 0px 0px rgba(white, .1)
			// +makeBoxShadowsSolid(1000, rgba(lighten(black, 7.5), 1))

.lights
	width: 100%
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	.light
		// background:
		margin: 3%
		z-index: 102
