.coverageMap
	display: flex
	justify-content: flex-start
	align-items: flex-start
	flex-direction: column
	height: auto !important
	>.bottom
		// background: rgb(200, 20, 50)
		// opacity: .7
		pointer-events: none
		border-top: 1px solid rgba(0,0,0,.6)
		border-left: 1px solid rgba(0,0,0,.6)
	.coverageMapSquare
		z-index: 400
		// pointer-events: none
		>.bottomParent
			// background: rgb(200, 20, 50)
			background: $pink
			// opacity: .7
			// pointer-events: none
		
		.coverageSquareData
			display: none
			font-size: 1.4rem
			color: white
			width: auto !important
			height: auto !important
			>div
				border-radius: 2px
				background: $gc
				margin-top: 2px
				margin-bottom: 2px
				padding: 3px 8px
				width: auto
				height: auto
				font-family: 'Montserrat'
				font-weight: 700
			// pointer-events: none
		&:hover
			>.bottomParent
				opacity: .8
			.coverageSquareData
				display: block
	.coverageMapFullLabel
		z-index: 120
		pointer-events: none
		.data
			padding: 3px 18px
			background: $gc
			border-radius: 2px
			color: $gw
			font-family: 'Montserrat'
			font-weight: 700
			font-size: 1.5rem
			-webkit-font-smoothing: anti-aliased
		// &.depth
		// 	border-right: 1px solid rgba(0,0,0,.7)
		// 	transform: translateX(-100%)
		// &.width
		// 	border-bottom: 1px solid rgba(0,0,0,.7)
		// 	transform: translateY(-100%)
	// .coverageMapDataParent
	// 	position: relative !important
	// 	width: auto !important
	// 	height: auto !important
	// 	display: flex
	// 	align-items: flex-start
	// 	justify-content: flex-start
	// 	flex-direction: column
	.coverageMapData-group-positioner,
	.coverageSquareData-group-positioner
		position: relative
		display: flex
		align-items: flex-start
		justify-content: center
		flex-direction: row
		flex-wrap: wrap
		width: 100% !important
		height: auto !important
	.coverageMapData,
	.coverageSquareData
		position: relative
		display: flex
		align-items: flex-start
		justify-content: flex-start
		flex-direction: row
		flex-wrap: wrap
		width: auto !important
		height: auto !important
	.coverageMapDataItem
		position: relative
		width: auto !important
		height: auto !important
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		font-family: Montserrat
		padding: 3px 7px
		background: rgba($gc, .85)
		border: 1px solid $gc
		color: white
		top: 0
		bottom: auto
	.coverageSquareData-group-positioner
		max-width: 100%
		.coverageMapDataItem
			border-right: 0px
			font-size: .9rem
			.value
				font-size: 1.4rem
			&:last-child
				border-right: 1px
	.coverageMapData-group-positioner
		// position: absolute
		// top: 0
		// left: 0
		// bottom: auto
		.coverageMapData
			align-items: flex-start
			justify-content: flex-start
			flex-wrap: wrap-reverse
			// justify-content: space-between
			flex-direction: row
		.coverageMapDataItem
			background: rgba($gc, 0)
			border: 0px
			padding: 0px
			margin-top: auto
			.data-container
				padding: 3px 7px
				background: rgba($gc, .85)
				border: 1px solid $gc
				color: white
				// align-self: flex-end
				flex-direction: row
				border-right: 0px
				font-size: .9rem
				.unit
					display: flex
					align-items: flex-start
					justify-content: flex-start
					flex-direction: row
				.value
					font-size: 1.4rem
			// bottom: 0
			// left: 0
			// top: auto
			// margin-top: auto
			// margin-right: auto
			// margin-left: 0px
			// margin-bottom: 0px
			&:first-child
				border-bottom-left-radius: 3px
			&:last-child
				border-bottom-right-radius: 3px
				border-right: 1px