footer
.btn-primary
    display: flex
    align-items: center
    justify-content: center
    background: rgba($gc, .9) !important
    border: 1px solid rgba($gc, .95) !important
    &:hover,
    &:visited,
    &:focus,
    &:visited
        background: rgba($gc, .4) !important
        border: 1px solid rgba($gc, .95) !important