html
	background: $gw
body
	margin: 0 !important
	color: white
	font-family: "Montserrat"
	background: $gw !important
	// overflow: hidden
	a
		color: $gc
		word-wrap: break-word
		&:hover
			text-decoration: none
canvas
	image-rendering: -webkit-optimize-contrast
	// image-rendering: pixelated
.link-white
	color: white !important
	&:hover
		color: rgba(white, .85) !important
.debug
	font-size: 5rem

.slick-slider-custom
	width: 900px
	max-width: 100%
	overflow: visible
