#nav
  background-color: $gw
  color: $gc

  .menu
    color: rgba($gg, 0)
    font-size: 1rem
    top: 0%
    left: 5
  .navbar-brand
    color: $gg
  .navbar-toggle
    margin-right: 8px
    background-color: rgba(white, 0)
  a
    color: $gg
