.modal-backdrop
    // display: none !important
    +animate(opacity, 400ms, ease)
    &.in
        opacity: 0.2 !important
.productModal
    // position: absolute !important
    padding: 100px !important
    @media(max-width: 800px)
        padding: 50px !important
    @media(max-width: 600px)
        padding: 10px !important
    .product-title
        padding-bottom: 20px
        color: $gc
    .item-details-product
        padding-bottom: 15px
    .product-description
        p
            font-size: 1.65rem
            font-family: "Montserrat"  
        @media(max-width: 400px)
            // text-align: left
            p
                text-align: left
    .item-details-product
    .price
        padding-top: 15px
        font-size: 2.4rem
    .combo-button-container
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        padding-top: 30px
        .combo-button
            margin-left: 5% !important
            margin-right: 5% !important
            width: 90% !important
            max-width: 300px
            // display: flex
            // align-items: center
            // justify-content: center
            .shop-cart-button
                display: flex
                align-items: center
                justify-content: center
    .close-button
        @extend .combo-button
    &.Grow-Light-Modal
        .product-title
            color: $gc
    .thumb
        height: 60px
        @media(max-width: 500px)
            height: 50px 
    strong
        color: $gc
        text-transform: capitalize
    li
        strong
            a
                text-transform: capitalize