#spectrums
	background: $gb
	padding-top: 100px
	overflow: hidden
	// padding-bottom: 100px
	.title-col
		text-align: center
	.light-col
		display: flex
		justify-content: center
		align-items: flex-end
		margin-top: 25px
		flex-wrap: wrap
