$gc: #80bc18
$gw: #f8f8f8
// $gw: #f2f1f1
$gb: #151515
$gg: rgb(47, 47, 47)
$glw: rgba(213, 213, 213,1)
$border-size: 2px
$sac: #FFF
$combo-button-width: 92%
$combo-button-side-margins: ((100% - $combo-button-width)/2)
$combo-button-height: 38px
$phone-width: 768px
$mobile: 768px
$colours: rgb(249, 56, 62), rgb(129, 69, 255), rgb(177, 255, 24), rgb(43, 226, 255), rgb(255, 113, 24), rgb(33, 255, 155), rgb(255, 232, 28), rgb(255, 50, 93)
$rainbow: rgb(255, 65, 65),rgb(255, 160, 61),rgb(255, 224, 59),#8cd115,rgb(70, 201, 250),rgb(22, 112, 195),rgb(105, 52, 147)
