#wattageWarning
  padding-top: 20px
  padding-bottom: 60px
  width: 100%
  max-width: 100%
  overflow: hidden
  .warning-icon-container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    max-width: 100%
    text-align: center
    padding: 15px
    .fa-warning
      font-size: 12rem
      color: lighten(rgba(red, .96),9)
    .warning-title
      text-transform: none
