include snippets/head
include snippets/banner
include snippets/aboutus
include snippets/foldable
include snippets/accessories
include snippets/contact_form
include snippets/finishes
include snippets/canopy
include snippets/footer
