.l
	.l-nudge-down
		margin-top: 5px
		&.l-nudge-more
			margin-top: 10px
	.l-nudge-down-more
		@extend .l-nudge-down
		margin-top: 10px
	.l-nudge-down-more-more
		@extend .l-nudge-down-more
		margin-top: 15px
	.l-nudge-right
		margin-left: 5px
		&.l-nudge-more
			margin-left: 10px
	.l-nudge-right-more
		@extend .l-nudge-right
		margin-left: 10px

	.l-nudge-left
		margin-right: 5px
		&.l-nudge-more
			margin-right: 10px
	.l-nudge-left-more
		@extend .l-nudge-left
		margin-right: 10px

	.l-nudge-right-large
		margin-left: 30px
	.l-nudge-below
		margin-bottom: 5px
		&.l-nudge-more
			margin-bottom: 10px
	&.l-nudge-below-more
		margin-bottom: 10px
	&.l-nudge-below-more-more
		margin-bottom: 15px
	&.l-nudge-below-more-more-more
		margin-bottom: 20px
	&.l-nudge-below-more-more-more-more
		margin-bottom: 25px
	&.l-nudge-below-more-more-more-more-more
		margin-bottom: 30px
		// @extend .l-nudge-below
		// margin-bottom: 10px
	.l-nudge-below-quite-alot
		margin-bottom: 40px
