append content
  section#about.success
    .container-fluid
      .row
        .col-lg-24.text-center
          h2 About OZ LEds
      br
      br
      .row
        .col-lg-7.col-lg-offset-5.col-md-9.col-md-offset-3.col-sm-20.col-sm-offset-2
          p I started this business because of all the fake information and rip off products there are on the Australian and International market. One of the draw backs of LED's is the steep price hike which scares most people away. I'm working to put LED's on an even playing field with HPS price wise. LED's already beat HPS in efficiency per watt and run time. Everywhere you look LED's are $1400 for 600W. It's ridiculous. No matter what grow medium you're using, soil, coco, aeroponic, hydroponic, LED's are the way to go. With less heat output than any other grow light on the market, the most efficient light spectrum imaginable, and no risk of burning or bleaching your plants if they grow too quick, it's hard to picture a better grow light.
        .col-lg-7.col-md-9.col-md-offset-0.col-sm-20.col-sm-offset-2
          p Whether you're a beginner, intermediate or advanced grower it's never too late to get into LED's. I'm in it for the grow and don't want to rip anyone off, I've got fair prices, advanced lights with the perfect specifications for growing crops and a drive to get LED's onto the market and accessible for anyone to use in their own grow. LED grow lights for anyone, anywhere around the world. Contact me at my email: 
            a(href="mailto: info@ozledgrowlights.com.au", style="color: white; text-decoration: underline") info@ozledgrowlights.com.au
            |  or on my ph: +61 422016261 I'm happy to help you out with any questions. Free shipping anywhere!
