html
  body
    section#about.success
      .container
        .row
          .col-lg-24.text-center
            h2 About OZ LEds
            |                 
            p
            |                 
            p
        |         
        .row
          .col-lg-8.col-lg-offset-4
            p
              | I started this business because of all the fake information and rip off products there are on the Australian and International market. One of the draw backs of LED&apos;s is the steep price hike which scares most people away. I&apos;m working to put LED&apos;s on an even playing field with HPS price wise. LED&apos;s already beat HPS in efficiency per watt and run time. Everywhere you look LED&apos;s are $1400 for 600W. It&apos;s ridiculous. Whether you&apos;re growing hydroponics, soil, soiless LED&apos;s are the way to go. Way less heat out put, built in fans and no risk of burning your plants if they grow too quick.
          |             
          .col-lg-8
            p
              | Whether you&apos;re a beginner, intermediate or advanced grower it&apos;s never too late to get into LED&apos;s. I&apos;m in it for the grow and don&apos;t want to rip anyone off, I&apos;ve got fair prices, advanced lights with the perfect specifications for growing crops and a drive to get LED&apos;s onto the market. LED grow lights for anyone, anywhere around the world. Contact me at my email: 
              a(href="mailto: info@ozledgrowlights.com.au", style="color: white; text-decoration: underline") info@ozledgrowlights.com.au
              |  or on my ph: +61 422016261 I&apos;m happy to help you out with any questions. Free shipping anywhere!
