html
  body
    header#banner
      .container-fluid.l
        .row.l-nudge-below-quite-alot
          .col-lg-24.banner-text(style="height: 150px")
            // <img class="img-responsive" src="/img/thing.png" alt="" />
            .intro-text.intro-text-title
            //- .intro-text.intro-text-subtitle
        //- .row.l-nudge-below-quite-alot
        //-   .col-lg-16.col-lg-offset-4
        //-     .l-title.l-medium.l-nudge-below.l-nudge-more there are 3 ways to choose the best LED for you
        //-     .l-buttons
        //-       .l-btn.l-btn-white.l-medium.l-btn-lots-of-text.l-btn-box.l-btn-round replace your old lights
        //-       .l-btn.l-btn-white.l-medium.l-btn-lots-of-text.l-btn-box.l-btn-round your no. of plants
        //-       .l-btn.l-btn-white.l-medium.l-btn-lots-of-text.l-btn-box.l-btn-round your grow area
      include /snippets/allConfigurationOptions
