append content
	header#banner
		.container-fluid.l
			.row.l-nudge-below-quite-alot
				.col-lg-24.banner-text
					.intro-text.intro-text-title
				script(async).
					$(document).ready(function() {
						$(".intro-text").typed({
							strings: ["Welcome to the revolution,^700 \n we'll help work out what LEDs you need."],
							typeSpeed: 5
						});

						// $('.front-page-likes').on('click')
					});
			.row
				.col-xs-24.banner-light-container
					-var growLight = growLightModels.custom.Rainbow
					-growLight.renderRules.labels = false
					include /snippets/growLight
					.light-button-positioner
						.light-button-container 
							a.light-button(href="#growlights") find your light