block footer
	footer.text-center
		.footer-above
			.container
				.row.footer-row
					.footer-col.col-md-8
						h3 Contact
						p
							a(href="mailto:nikolaj@ozledgrowlights.com.au") Email: info@ozledgrowlights.com.au
						p
							a(href="tel:0422016261") Ph: +614 2201 6261
					.footer-col.col-md-8
						h3 ozledgrowlights
						p We're a team of Australian growers just trying to do our part in helping beginners, intermediate and advanced growers getting the right advice and products regarding LED's
					.footer-col.col-md-8
						h3 Connect with us
						a.social-link(target="_blank", href="https://facebook.com/ozledgrowlights")
							i.fa.fa-facebook(aria-hidden="true")
						a.social-link(target="_blank", href="https://instagram.com/ozledgrowlights")
							i.fa.fa-instagram-mdc(aria-hidden="true")
		.footer-below
			.container
				.row
					.col-lg-24
						| &copy; 2017 - 
						a(href='/index') www.ozledgrowlights.com.au
						span(style='display: block')  ABN: 65161312097
					div
	append content
		.scroll-top.page-scroll.visible-xs.visble-sm
			a.btn.btn-primary(href='#page-top')
				i.fa.fa-keyboard-arrow-up
		.scroll-top.page-scroll.visible-xs.visble-sm
			a.btn.btn-primary(href='#page-top')
				i.fa.fa-keyboard-arrow-up
