html
  body
    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-8
              h3 Contact
              p info@ozledgrowlights.com.au
            .footer-col.col-md-8
            .footer-col.col-md-8
              h3 About Oz LEDs
              p I&apos;m an Australian grower just trying to do my part in helping beginners, intermediate and advanced growers getting the right advice and products regarding LED&apos;s
      .footer-below
        .container
          .row
            .col-lg-24
              | &copy; 2017 - 
              a(style='color: white', href='index.php') www.ozledgrowlights.com.au
              span(style='display: block')  ABN: 65161312097
            div
    .scroll-top.page-scroll.visible-xs.visble-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
    .scroll-top.page-scroll.visible-xs.visble-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
