append content
  section#growhelp
    .container-fluid
      .row
        .col-lg-20.col-lg-offset-4.col-md-8.col-md-offset-2.col-sm-20.col-sm-offset-2
          h3  GROW HELP 
        .col-lg-12.col-lg-offset-4.col-md-8.col-md-offset-2.col-sm-20.col-sm-offset-2
          p
            | I have many years of experience in growing outdoor organic, indoor hydroponic, large scale hydroponic rock tanks under soil boxes, indoor custom led placement and mounting, the indoor custom led placement and mounting includes taking apart certain lights and creating a much thinner panel of led diodes and create a cooling solution for the top of the tent or none at all if in a large garage/warehouse with adequate air flow, this allows for super close, repeatable position of LED panels and all around angles if mounted vertical on walls. We have also experimented with 500-800 watt led strip set ups where we create a virtual sky with hundreds of diodes linked up in rows but in very flexible positions, this is cool because you can create a concave shape and ensure every single part of the plant is getting light. 
            br
            br
            | &#x9;&#x9;&#x9;&#x9;    If you would like a personal solution for a grow area or ventilation or general advice just give me a text, ring or email at 
            span(style='font-weight: bold;') info@ozledgrowlights.com.au , 0422016261
            | &#x9;&#x9;&#x9;&#x9;    
            | &#x9;&#x9;&#x9;&#x9;    
            br
            br
            | &#x9;&#x9;&#x9;&#x9;    If you would like further advice on the advantages of LED&apos;s and an explanation behind why they can beat an hps light by 2 to 3 times the efficiency then read below or email, text or ring me again.
