append content
	html
		body
			.growtent-customisation.l
				.container-fluid
					.row.tent-customisation
						.col-sm-24
							h2.tent-customisation-title 
								span 
									span.text Grow
									.coming-soon Coming Soon!
						//- .col-sm-24
						//- 	include /snippets/growTent
						.col-sm-24(id="growActions").grow-actions
							.l-btn.l-small.l-nudge-left.l-filled.l-round Add Plants
								.coming-soon Coming Soon!
							.l-btn.l-small.l-nudge-left.l-nudge-more.l-filled.l-round Add Lights
								.coming-soon Coming Soon!
							.l-btn.l-small.l-nudge-left.l-nudge-more.l-filled.l-round Edit Tent
								.coming-soon Coming Soon!
							.l-btn.l-small.l-nudge-left.l-nudge-more.l-filled.l-round Configure Growroom
								.coming-soon Coming Soon!
							.l-btn.l-small.l-nudge-left.l-filled.l-round Optimize Growroom
								.coming-soon Coming Soon!
