html
  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top#nav
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.menu  menu
            |                 
            span.sr-only Friendly and Local LED grow lights
            |                 
            span.icon-bar
            |                 
            span.icon-bar
            |                 
            span.icon-bar
          |             
          a.navbar-brand(href='home', style="margin-left: 0px") ozledgrowlights
            //- img(src='/img/assets/rainbow.png', style="max-width: 100px; margin-left: 15px; margin-top: 5px")
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            |                 
            li.page-scroll
              a(href='/home') Home
            |                 
            li.page-scroll
              a(href='/home#products') the market
            |                  
            li.page-scroll
              a(href='/products/green') Green
            |                  
            li.page-scroll
              a(href='/products/black') Black
            |                 
            li.page-scroll
              a(href='/products/pro') Pro
            |                 
            li.page-scroll
              a(href='/home#about') About
            |                 
            li.page-scroll
              a(href='/home#contact') Contact
        // /.navbar-collapse
