html
	body
		#tent-customization
			.container-fluid
				.row.tent-customization
					.col-sm-24
						h2.tent-customization-title Create your Grow
					.col-sm-24
						include /snippets/tent
					.col-sm-24(id="actions").l
						.l-btn.l-small.l-nudge-left.l-filled.l-round Add Plants
						.l-btn.l-small.l-nudge-left.l-nudge-more.l-filled.l-round Add Lights
						.l-btn.l-small.l-nudge-left.l-nudge-more.l-filled.l-round Edit Tent
						.l-btn.l-small.l-nudge-left.l-nudge-more.l-filled.l-round Configure Growroom
						.l-btn.l-small.l-nudge-left.l-filled.l-round Optimize Growroom
