html
  body
    #tent-customization
      .container-fluid
        .row.tent-customization
          .col-lg-24
            h2.tent-customization-title Or customize your tent
          .col-lg-24.tent-container
            .tent(id="default")
              .wall(id="front")
              .wall(id="back")
              .wall(id="left")
              .wall(id="right")
              //- .wall(id="top")
              .wall(id="bottom")
              .lights(id="lights")
                .light(id="Green720W")
                  .wall(id="front")
                  .wall(id="back")
                  .wall(id="left")
                  .wall(id="right")
                  .wall(id="top")
                  .wall(id="bottom")
