html
  body
    #wattageWarning
      .container-fluid.l
        .row
          .col-lg-18.col-lg-offset-3.warning-icon-container
            i.fa.fa-warning
            h2.warning-title.l-nudge-below.l-nudge-more All wattages listed are measured at the wall and so indicate the real wattage draw & output of the light
            h6.col-lg-12 some websites and manufacturers do not mention that LED growlights only operate at between 40 - 50% of the wattage advertised. When multiplying the diode wattage spec by the ammount of diodes on the light, you get the 
              span.l-bold "theoretical wattage"
              |  but LED growlights actually run at 40 - 50% efficiency per diode to prolong their life span
            h4.l-inline-block learn more about
            .l-buttons-row
              .l-btn.l-btn-round.l-inline-block spectrums            
              .l-btn.l-btn-round.l-inline-block wattage            
              .l-btn.l-btn-round.l-inline-block diodes
