html
	body
		#wattageWarning
			.container-fluid.l
				.row
					.col-lg-18.col-lg-offset-3.col-md-20.col-md-offset-2.col-sm-24.warning-icon-container
						i.fa.fa-warning
						h2.warning-title.l-nudge-below.l-nudge-more All wattages listed are measured at the wall and so indicate the real wattage draw & output of the light
						h4.col-lg-12.col-md-14.col-sm-24.warning-message(style="margin-top: 60px") some websites and manufacturers do not mention that LED growlights only operate at between 40 - 60% of the wattage advertised. 
							//- br
							//- br
							//- | When multiplying the diode wattage (5W) by the ammount of diodes on the light (192), you get the 
							//- span.l-bold "theoretical wattage" (960W)
							//- br
							//- br 
							//- | BUT, LED growlights actually run at 40 - 60% efficiency to prolong the diode life span (960W = 480W), we list the Real Wattage Draw of our lights :)
						//- h4.l-inline-block learn more about
						//- .l-buttons-row
						//-   .l-btn.l-btn-round.l-inline-block spectrums            
						//-   .l-btn.l-btn-round.l-inline-block wattage            
						//-   .l-btn.l-btn-round.l-inline-block diodes
