//- script
-
    var ts = function(thing){
        return JSON.stringify(thing)
    }
    var getLightHeight = function(wattage){
        return 1/Math.sqrt(this.wattage)*10
    }
    var r2d2 = function(d){
        return d*(180/Math.PI)
    }