append content
	-var covCalcId = uuidv4()
	.coverageCalculator(id=covCalcId)
		.container-fluid(id="coveragecalculator")
			.row
				.col-xs-24.coverage-calc-col
					.title
						h2 grow.
							span.rainbow 
								|ai                
				-var firstGrowLight
				.col-xs-24.coverage-calc-col
					-if(allGrowLights)
						.slick-slider-custom.coverageCalculatorSlider.parent(id=covCalcId+'-parent')
							//- -var growLight = growLightModels.custom["MarsBar"]
							//- 	-growLight.object.type = '2d'
							//- 	-growLight.renderRules.switches = false
							//- 	.slick-slide(style="z-index: 200")
							//- 		include /snippets/grow.ai/growLight
							each growLightModel, key in growLightModels.commerce
								each growLight, key1 in growLightModel.products
									-if(key == 0 && key1 == 0)
										-firstGrowLight = growLight
									-growLight.object.type = '2d'
									.slick-slide(style="z-index:"+(150-key1)+";")
										include /snippets/grow.ai/growLight
							//- .slick-slide.custom-light-slide(style="z-index:"+(150-key1-1)+";")
							//- 	-var customGrowLight = true
							//- 	-var growLight = growLightModels.custom.Rainbow
							//- 	include /snippets/grow.ai/growLight
							//- 	-var customGrowLight = false

						script(type='text/javascript').
							$(document).ready(()=>{
								$('##{covCalcId}-parent').slick({
									arrows: true,
									centerMode: false
									//- lazyLoad: 'progressive'
								})
							})
				-var growLight = firstGrowLight
				.col-lg-12.col-lg-offset-6.col-xs-24.col-sm-24.coverage-calc-col(style="flex-direction: column")
						include /snippets/grow.ai/growLightCoverage
				//- .col-xs-24.coverage-calc-col
	-covCalcId = undefined