append content
    -if(!growLight && !allGrowLights[0]) return
    -if(!growLight && allGrowLights[0]) var growLight = allGrowLights[0]
    -growLight.hangHeight = Math.round(growLight.lightHeight())
    -var secId = uuidv4()
    .col-xs-24.l(id=secId)
        .l-material-card.l-center.stump-top
            .l-title.l-xlarge.l-inline.l-nudge-below.l-center(lopu-bind="{currentLightTitle}")= growLight.title + " Energy Map"
            -var sceneContId = uuidv4()
            -var sceneId = uuidv4()
            .scene-container.coverage-calc-scene-container(id=sceneContId)
                .scene.coverage-calc-scene(id=sceneId)
            -if(formType !== 'complex')
                include /snippets/grow.ai/simpleCalculatorForm