extends /snippets/layout
append content
    include /snippets/grow.ai/includeAllGrowLights
    include /snippets/grow.ai/includeAllGrowTents
    include /snippets/grow.ai/growTentsSection
    include /snippets/grow.ai/coverageCalculator