extends /snippets/layout
append content
    include /snippets/products/includeAllGrowTents
    include /snippets/products/includeAllGrowLights
    include /snippets/banner
    include /snippets/products/growLightsSection
    include /snippets/grow.ai/coverageCalculator
    include /snippets/products/growTentsSection
    //- include /snippets/allConfigurationOptions
    include /snippets/growTentCustomization
    //- include /snippets/test
    //- include /snippets/productsTri
    include /snippets/wattageWarning
    include /snippets/spectrums
    include /snippets/about
    //- include /snippets/growHelp
    include /snippets/contactForm
    include /snippets/paywith
