extends /snippets/layout
append content
    include /snippets/grow.ai/includeAllGrowTents
    include /snippets/grow.ai/includeAllGrowLights
    include /snippets/banner
    include /snippets/grow.ai/growLightsSection
    include /snippets/grow.ai/coverageCalculator
    include /snippets/grow.ai/growTentsSection
    //- include /snippets/allConfigurationOptions
    -var product = accessories
    include /snippets/products/product
    include /snippets/grow.ai/growTentCustomization
    //- include /snippets/test
    //- include /snippets/productsTri
    include /snippets/grow.ai/wattageWarning
    include /snippets/grow.ai/spectrums
    include /snippets/about
    //- include /snippets/growHelp
    include /snippets/contactForm
    include /snippets/paywith
append scripts
    script(type='text/javascript' src='/js/src/bannerTypedInit.js' async)