include /snippets/head
include /snippets/banner
include /snippets/tent
include /snippets/allConfigurationOptions
include /snippets/wattageWarning
include /snippets/productsTri
include /snippets/spectrums
include /snippets/about
include /snippets/growHelp
include /snippets/contactForm
include /snippets/paywith
include /snippets/footer
